[submodule "delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "systemverilog.vim"]
	path = .vim/bundle/systemverilog.vim
	url = https://github.com/nachumk/systemverilog.vim
[submodule "syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "Conque-GDB"]
	path = .vim/bundle/Conque-GDB
	url = https://github.com/vim-scripts/Conque-GDB
[submodule "DoxygenToolkit.vim"]
	path = .vim/bundle/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim
[submodule "vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim-clang-format"]
	path = .vim/bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit
[submodule "tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
