snippet article
	@article{${0:incf}
	}

snippet book
	@book{${0:incf}
	}

snippet inproceedings
	@inproceedings{${0:incf}
	}

snippet online
	@online{${1:LABEL},
	    author = {${2}},
	    title = {${3}},
	    url = {${4}},
	    note = {year/date},
	}
